html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 90px;
  /* color: rgb(255, 190, 12); */
}

.nav {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar input {
  width: 75%;
  border: none;
  font-size: 16px;
font-style: normal;
font-weight: 400;
}

.search-btn {
  width: 23%;
  height: 50px;
  background-color: #011638;
  color: whitesmoke;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 24px;
  font-weight: 600;
  font-display: normal;
  line-height: normal;
}

.search-bar span {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
}
.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 80px;
}

.detail img {
  width: 50%;
  height: 50%;
}
.detail div {
  width: 50%;
  height: 50%;
}

.post {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}

.container {
  width: 95%;
  height: 39rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--neutral20, #fafdfa);
  /* padding: 20px; */
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f9c80e;
  border-radius: 8px 8px 0px 0px;
  /* width: 1296px; */
  height: 85px;
  flex-shrink: 0;
  padding: 20px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.down-bar {
  margin-top: 3%;
  margin-bottom: 5%;
}

.birmingham {
  display: flex;
  align-items: center;
  gap: 40%;
  padding: 2%;
  background: var(--secondary10, #fef4cf);
}
.manchester {
  display: flex;
  align-items: center;
  gap: 40%;
  padding: 2%;
  background: var(--neutral20, #fafdfa);
}
.leeds {
  display: flex;
  align-items: center;
  gap: 44%;
  padding: 2%;
  background: var(--secondary10, #fef4cf);
}
.bristol {
  display: flex;
  align-items: center;
  gap: 44%;
  padding: 2%;
  background: var(--neutral20, #fafdfa);
}
.cornwall {
  display: flex;
  align-items: center;
  gap: 42%;
  padding: 2%;
  background: var(--secondary10, #fef4cf);
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 40px 0px 40px;
}
.page button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #fafdfa;
  border: none;
  box-shadow: 0 2px rgba(0, 0, 0, 0.03);
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 80px;
}

.map img {
  width: 50%;
  height: 50%;
}
.map div {
  width: 50%;
  height: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: whitesmoke;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top div,
h1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  margin-right: 10%;
  row-gap: 5px;
}

.top h1 {
  /* color: #FFF; */
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
}

.top div {
  /* color: #FFF; */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7%;
}

.copyright span{
  color: #f9c80e;
}