@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {

  --body: "Open Sans";


  --body-size: 16px;
  --heading1-size: 24px;
  --font-size-9xl: 28px;
  --body-large-size: 20px;


  --color-white: #fff;
  --secondary60: #f9c80e;
  --neutral20: #fafdfa;
  --primary60: #011638;
  --primary110: #00040b;
  --secondary10: #fef4cf;
  --neutral100: #505350;
  --neutral110: #303230;


  --br-5xs: 8px;
  --br-3xs: 10px;
}
